:root {
  box-sizing: border-box;
}

body {
  font-family: 'Gilroy', sans-serif;
}

*::before,
*::after {
  box-sizing: inherit;
}

ul {
  list-style: none;
}

.logo {
  font-family: 'Homemade Apple', cursive;
  font-size: 18px;
  line-height: 2;
  text-decoration: none;
}

.section {
  padding: 0;
}

.section__title {
  margin: 0;
  font-weight: normal;
  font-size: 32px;
  line-height: 1.4;
  text-align: center;
}

.section__subtitle {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.container {
  padding: 15px;
  margin: 0 auto;
  width: 1170px;
}

.container--1440 {
  width: 1440px;
  padding: 0;
}

.button {
  margin: 0;
  padding: 0 10px;
  min-width: 200px;
  min-height: 40px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #F7941E;
  background-color: #F7941E;
  transition: background-color 350ms linear;
}

.button:hover, .button:focus {
  background-color: #fbac4c;
}

.button--light {
  color: #F7941E;
  background-color: transparent;
  transition: background-color 350ms linear;
}

.button--light:hover, .button--light:focus {
  background-color: #ffe6c8;
}

.button--black {
  border-color: #000000;
  color: #ffffff;
  background-color: #000000;
  transition: background-color 350ms linear;
}

.button--black:hover, .button--black:focus {
  background-color: #222222;
}

.button--black-contrast {
  border-color: #000000;
  color: #000000;
  background-color: transparent;
  transition: background-color 350ms linear;
}

.button--black-contrast:hover, .button--black-contrast:focus {
  background-color: #EEEEEE;
}

.section--header > .container {
  display: flex;
  justify-content: space-between;
  padding: 0;
  align-items: center;
}

.header__logo {
  padding: 10px 30px;
  margin: 30px 0 30px 50px;
  color: #231F20;
  background-color: transparent;
  border-radius: 5px;
  transition: background-color 1500ms linear;
}

.header__logo:hover,
.header__logo:focus {
  background-color: #ffe6c8;
}

.menu {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0 -15px;
}

.menu__item {
  margin: 0 15px;
}

.menu__link {
  padding: 20px 0;
  text-decoration: none;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
  transition: color 150ms linear;
}

.menu__link:hover,
.menu__link:focus {
  color: #F7941E;
}

.section--hero {
  background-color: #F1F1F2;
}

.section--hero > .container {
  display: grid;
  grid-template-columns: 721px 719px;
}

.hero__description {
  height: 700px;
  margin: 0;
  padding: 0 125px 0 160px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero__title {
  font-weight: bold;
  font-size: 56px;
  line-height: 84px;
}

.hero__text {
  margin-top: -47px;
  margin-bottom: 52px;
  font-size: 20px;
  line-height: 28px;
}

.button--hero {
  height: 60px;
}

.hero__image {
  width: 719px;
  height: 700px;
  background-image: url("../images/hero/img.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192), screen and (min-resolution: 2dppx) {
  .hero__image {
    background-image: url("../images/hero/img@2x.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 3), screen and (min-resolution: 288px), screen and (min-resolution: 3dppx) {
  .hero__image {
    background-image: url("../images/hero/img@3x.jpg");
  }
}

.section--feature > .container {
  display: grid;
  grid-template-columns: 721px 719px;
}

.section--feature {
  background-color: #F1F1F2;
}

.feature__image {
  width: 721px;
  height: 600px;
  background-image: url("../images/feature/img.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192), screen and (min-resolution: 2dppx) {
  .feature__image {
    background-image: url("../images/feature/img@2x.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 3), screen and (min-resolution: 288px), screen and (min-resolution: 3dppx) {
  .feature__image {
    background-image: url("../images/feature/img@3x.jpg");
  }
}

.feature__description {
  padding: 0 0 0 116px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}

.feature__text {
  margin: 23px 0 35px;
  padding: 0;
}

.section--posts .section__title {
  margin-top: 96px;
}

.post__list {
  display: flex;
  margin: 64px -15px 137px;
  padding: 0;
}

.post {
  margin: 0 15px 0;
  padding: 0;
  min-height: 436px;
  background-color: #FAFAFA;
  font-size: 0;
  transition: filter 300ms linear, background-color 300ms linear;
  will-change: filter, background-color;
}

.post:focus-within, .post:hover {
  background-color: #ffffff;
  filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.05));
}

.post_image {
  display: block;
}

.post__title {
  display: block;
  margin: 24px auto auto 24px;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.post__expand {
  display: block;
  justify-self: flex-end;
  margin: auto auto 24px 24px;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}

.post__link {
  display: flex;
  width: 100%;
  height: 100%;
  flex-flow: column nowrap;
  text-decoration: none;
}

.section--cta {
  background-color: #F7941E;
  height: 240px;
}

.section--cta > .container {
  display: flex;
  height: 100%;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.cta__description {
  margin: 0;
  padding: 10px 0 0;
}

.cta__text, .cta__title {
  margin: 0;
  font-size: 32px;
  line-height: 45px;
}

.cta__title {
  font-weight: bold;
}

.cta__buttons {
  display: flex;
  flex-flow: row nowrap;
  margin: auto -8px;
  padding: 0;
}

.cta__button {
  margin: 0 8px;
}

.section--blogs .section__title {
  margin-top: 88px;
}

.section--blogs .section__subtitle {
  margin-top: 14px;
}

.review {
  display: flex;
  margin-top: 71px;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  background-color: #000000;
}

.review__meta {
  width: 100%;
  height: 100%;
  padding-right: 200px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-evenly;
  color: #ffffff;
  padding-left: 78px;
}

.review__author {
  margin: 0px;
  font-size: 14px;
  line-height: 20px;
}

.review__title {
  margin: 27px 0 0 0;
  font-size: 48px;
  line-height: 72px;
}

.review__link {
  margin: 60px 0 0 0;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  text-decoration: none;
}

.blog__list {
  display: flex;
  width: 100%;
  margin: 40px -15px 80px;
}

.blog__article {
  padding: 48px;
  transition: box-shadow 350ms linear;
}

.blog__article:focus-within, .blog__article:hover {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.blog__title {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
}

.blog__text {
  margin: 16px 0 0 0;
  font-size: 18px;
  line-height: 25px;
}

.blog__link {
  display: block;
  margin: 16px 0 0 0;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}

.section--footer {
  background-color: #FAFAFA;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.footer-nav__list {
  display: flex;
  width: 1000px;
  justify-content: space-evenly;
  margin: 115px auto 0;
  padding: 0 0 53px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #000000;
}

.footer-nav__item {
  padding: 0 34px;
}

.footer-nav__link {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
  transition: color 150ms linear, transform 150ms linear;
}

.footer-nav__link:focus-within, .footer-nav__link:hover {
  color: #fbac4c;
  transform: scale(1.1);
}

.footer-nav__link > .logo {
  color: #F7941E;
  font-weight: normal;
  margin: 0 72px;
}

.social__list {
  display: flex;
  margin: 55px auto 0;
  padding: 0;
}

.social__item {
  width: 40px;
  height: 40px;
  margin: 0 12px 0;
}

.social__link {
  display: block;
  text-decoration: none;
  color: #000000;
  transition: color 150ms linear;
}

.social__link:focus-within, .social__link:hover {
  color: #fbac4c;
}

.social__icon {
  fill: currentColor;
}

.footer__service {
  margin: 72px auto 35px;
  font-size: 14px;
  line-height: 20px;
}

.service__link {
  color: #000000;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */